{
    "extends": ["eslint-config-mosaic", "plugin:react/recommended"],
    "env": {
        "browser": true,
        "es6": true,
        "jest": true,
        "node": true
    },
    "globals": {
        "JSContext": false
    },
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module"
    },
    "parser": "babel-eslint",
    "rules": {
        "no-floating-decimal": 1
    }
}