/* Audio */
.fa-play, .fa-pause {
  background: -webkit-linear-gradient(left, red, #2b2b2b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.riverine-player,.riverine-audio {
  width: 100%;
  margin: 25px auto;
}

.riverine-gui {
  position: relative;
  overflow: hidden;
  margin-top: 10px;
}

.riverine-seek-bar, .riverine-play-bar {
  max-width: 100%;
}

.riverine-controls {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "FontAwesome";
}

.riverine-controls li {
  display: inline;
}

.riverine-controls a {
  color: rgba(0, 0, 0, 0.6);
}

.riverine-play,.riverine-pause {
  width: 14px;
  height: 59px;
  display: inline-block;
  line-height: 59px;
  cursor: pointer;
}

.riverine-play i {
  transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
}

.riverine-seek-bar {
  width: 0;
  top: 1px;
  height: 2px;
  background-color: rgba(255,255,255,.5);
}

.riverine-title ul, .riverine-time-holder {
  font-family: 'Ubuntu Mono', monospace;
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  line-height: 30px;
  position: absolute;
  top: 14px;
  pointer-events: none;
}

.riverine-time-holder {
  right: 15px;
}

.riverine-title ul {
  left: 35px;
  list-style: none;
}

.riverine-progress {
  overflow: hidden;
  position: absolute;
  left: 20px;
  top: 0;
  width: calc(100% - 150px);
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  height: 2px;
  margin-top: 28px;
}

.riverine-play-bar {
  width: 0;
  top: 1px;
  height: 2px;
  background-color: #f2f2f2;
  transition: 0.1s ease;
}

@media (max-width: 1150px) {
  .riverine-title ul {
    font-size: 10px;
  }
}
