@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Merriweather-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/NotoSerif-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/UbuntuMono-Regular.ttf') format('truetype');
}

html {
  background-color: #f2f2f2;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  cursor: default;
  color: #2b2b2b;
}

a.link {
  text-decoration: none;
  color: #808080;
  position: relative;
  -moz-transition: all 250ms ease-in-out;
  -webkit-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

a.link:after {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 50%;
  height: 3px;
  background: #808080;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=(50));
  opacity: 0.5;
  content: "";
  -moz-transition: all 250ms ease-in-out;
  -webkit-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

a.link:hover {
  color: #ff5f6d;
}

a.link:hover:after {
  width: 99%;
  background: #ff5f6d;
}

a.mosaic-icon:hover svg g {
  fill: #ffc371;
}

footer p {
  text-align: center;
  margin: 2em 0;
}

footer p span a {
  text-decoration: none;
  color: #5a5a5a;
  font-size: 1.1em;
}

footer p span:not(:first-child) {
  margin-left: 30px;
}

footer p span a i:before,
svg g {
  transition: 0.3s ease;
}

a:hover i.fa-github {
  color: #4078c0;
}

a:hover i.fa-linkedin {
  color: #0077B5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather Sans', sans-serif;
}

h1 {
  font-size: 4.15em;
  text-align: center;
  letter-spacing: .418em;
  margin-bottom: 2em;
}

hr {
  height: .2em;
  background-color: rgba(90, 90, 90, 0.5);
  border-style: none;
  border-width: 0;
  margin: 4em 0 3em;
}

main {
  padding: 200px 10px 0;
}

p {
  font-family: 'Noto Serif', serif;
  font-size: 1.35em;
  letter-spacing: 0.05em;
  line-height: 1.8em;
  text-align: justify;
}

svg {
  width: 20px;
  padding-top: 1px;
}

.container {
  max-width: 500px;
  margin: 0 auto;
}

.code {
  font-family: 'Ubuntu Mono', monospace;
  color: #5a5a5a;
  font-size: 1.15em;
  padding-left: 1.5em;
  margin: 4em 0;
  background: -webkit-linear-gradient(right, red, #2b2b2b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

::selection {
  background-color: rgba(0, 0, 0, 0);
}

@media screen and (max-width: 600px) {
  h1 {
    letter-spacing: .2em;
    font-size: 3.5em;
    margin-bottom: 1em;
  }
}

@media screen and (max-width: 500px) {
  p {
    font-size: 1em;
  }

  .code {
    font-size: .8em;
  }

  svg {
    width: .8em;
  }
}
